* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(93,142,251,1) 0%, rgba(93,142,251,1) 50%, rgba(0,212,255,1) 100%);
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
}

a {
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.hero__title {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.hero__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: #f0f0f0;
    margin-bottom: 0.5rem;
}

.hero__date {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #e0e0e0;
}

.card {
    background: #ffffff;
    color: #5d8efb;
    border-radius: 16px;
    padding: 2.5rem 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 40px;
}

.mood-card {
    padding: 1.5rem 2rem 3rem 2rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card__greeting {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card__message {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.card__header {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}

.card-positive {
    padding-bottom: 2rem;
}

.summary-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}

.summary-section h3 {
    margin-bottom: 1rem;
}

.summary-section li {
    padding-bottom: 0.5rem;
}

.button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-group--space {
    margin-top: 3rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    background-color: #5d8efb;
    color: #ffffff;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.btn:hover {
    background-color: #204fc3;
}

.form-btn {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.mood-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-select {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #5d8efb;
    color: #5d8efb;
    background-color: #ffffff;
}

.mood-btn {
    border: 1px solid white;
    background-color: #ffffff;
    color: #5d8efb;
}

.mood-btn:hover {
    background-color: #5d8efb;
    color: #ffffff;
}