* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  background-color: aquamarine;
}

.mainbox {
  width: 1000px;
  height: 1000px; /*will be removed later */
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.receipttable {
    width: 40%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    border: 2px solid #333;
}

.receipttable td {
  padding: 10px;
  border: 1px solid #666;
}

th {
  font-weight: 400;
}

.receipttable tr:nth-child(even) {
  background-color: #f1f1f1;
}

.receipttable tr:first-child td {
  text-align: center;
  font-size: 20px;
  /* font-weight: bold; */
  padding: 15px;
  background-color: #004080;
  color: #fff;
}

.lefttext {
  /* text-align: left; */
  float: left;
  /* width: 50%; */
}

.righttext  {
  /* text-align: right; */
  float: right;
  /* width: 50%; */
}