.cart {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  margin-top: 5rem;
}

.cart__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cart__table {
  width: 100%;
  border-collapse: collapse;
}

.cart__table th,
.cart__table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart__item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
}

.cart__item-name {
  vertical-align:middle;
}

.cart__qty-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart__qty-controls button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.cart__qty-controls button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.cart__qty-controls span {
  font-size: 16px;
  font-weight: 500;
  min-width: 24px;
  text-align: center;
}


.cart__remove-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #d9534f;
  font-size: 1.2rem;
}

.cart__remove-button:hover {
  color: #c9302c;
}

.cart__checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cart__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  margin-top: 1rem;
}

.cart__checkout-details {
  text-align: center;
  margin-bottom: 1rem;
}

.cart__total {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart__clear-button,
.cart__checkout-button {
  padding: 0.7rem 1.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.cart__clear-button {
  background-color: #f44336;
  color: white;
}

.cart__checkout-button {
  background-color: #4caf50;
  color: white;
}

.cart__continue-link {
  margin-top: 1rem;
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

.cart__continue-link:hover {
  text-decoration: underline;
}

.cart__empty {
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
}

.cart__empty-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart__empty-link {
  text-align: center;
  padding: 1rem;
  color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cart__table th, .cart__table td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .cart__item-image {
    width: 40px;
    height: 40px;
  }

  .cart__total {
    font-size: 1.2rem;
  }

  .cart__clear-button,
  .cart__checkout-button {
    padding: 0.5rem 1rem;
  }
}
  