.product-listings {
    padding: 16px;
    background-color: #F9FAFB;
    margin-top: 5rem;
}
.product-listings__title {
    font-size: 1.5em;
    font-weight: bold;
    color: #111827;
    margin-bottom: 16px;
    text-align: center;
}
.product-listings__subtitle {
    font-size: 1.2em;
    color: #6B7280;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.product-listings__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}