.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px 16px;
    background-color: white;
    color: #1F2937;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__logo:hover .header__logo-image {
    transform: scale(1.1);
}
.header__logo:hover .header__title {
    color: #1E88E5;
}
.header__logo-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.header__title {
    font-size: 20px;
    color: #1F2937;
}
.header__nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    width: 70%;
}
.header__link {
    color: #1F2937;
    text-decoration: none;
    transition: color 0.3s ease;
}
.header__link:hover {
    color: #1E88E5;
}
.header__cart {
    position: relative;
    display: flex;
    align-items: center;
}
.header__cart-icon {
    margin-right: 10px;
    cursor: pointer;
}
.header__cart-icons {
    width: 40px;
    height: 40px;
}
.header__cart-icon:hover {
    color: #1E88E5;
}
.header__cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #FF7043;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
}