.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
    margin-top: 5rem;
}
.contact__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact__message {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.contact__form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.contact__input,
.contact__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact__form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact__form button:hover {
    background-color: #0056b3;
}