* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
body {
    background-color: white;
}

.mainbox {
    width: 1000px;
    background-color: white;
    margin: 20px;
    text-align: left;
}

.nav__container {
    float: left;
    background-color: grey;
    width: 100%;
    height: 4vh;
    overflow: hidden;
}

.nav__container-bottom {
    margin-bottom: 20px;
}

.nav__header {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 16px;
    padding-top: 3px;
    float: left;
    letter-spacing: 1px;
}

.nav__header-travels {
    color: black;
}

.footer__container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer__copyright {
    float: left;
    padding-left: 20px;
    color: white;
}

.footer__social-media {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex: 1;
    padding-right: 5rem;
}

.footer__social-media a {
    text-decoration: none;
    color: white;
}

.footer__social-media a:link
 {
    color: white;
}

.footer__social-media a:hover
 {
    text-decoration: underline;
}

.footer__social-media a:visited
 {
    text-decoration: underline;
}