* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}
  
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}
  
.sidebar {
    background-color: #0f2537;
    width: 13.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.logo {
    border: 2px solid rgba(158, 108, 73, 0.7);
    border-radius: 30%;
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

.logo p {
    border-top: 2px solid rgba(158, 108, 73, 0.7);
    margin-top: 1rem;
    padding-top: 0.5rem;
    color: rgba(158, 108, 73, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}

.logo h1 {
    font-size: 2.5rem;
    background-color: rgba(158, 108, 73, 0.7);
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
}

.logo a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;   
    display: inline-block;
}

.logo a:hover {
    transform: scale(1.1);
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    margin-top: 4rem;
}
  
.nav-menu li {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: rgba(158, 108, 73, 0.7);
}

.contact-info {
    text-align: center;
}
  
.contact-info h3, .contact-info h4 {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}
  
.contact-info p {
    margin-top: 0.5rem;
    line-height: 1.1;
}

.main-content {
    flex: 1;
    background-image: url('../images/background_image.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.overlay {
    background-color: rgba(158, 108, 73, 0.7);
    padding: 2rem;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -8px 0 25px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.overlay h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1;
    text-align: center;
}

.header-name span {
    display: block;
    font-size: 3.5rem;
    font-style: italic;
}

.overlay .tagline {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1rem;
}

.about, .testimonial {
    margin-top: 2rem;
    text-align: center;
}

.about h2, .testimonial h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.about p, .testimonial p {
    font-size: 1rem;
    line-height: 1.6;
}

.testimonial span {
    display: block;
    margin-top: 0.5rem;
    font-style: italic;
}

/* Responsive Design */
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        padding: 10rem 0;
    }
}
  
/* Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: space-evenly;
        width: 100%;
    }

    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
        gap: 3rem;
        margin-bottom: 0;
    }
  
    .sidebar {
      width: 100%;
      padding: 0.5rem;
      gap: 0;
      padding-bottom: 2rem;
    }

    .logo {
        padding: 4rem 1rem;
    }

    .logo h1 {
        font-size: 1.5rem;
    }
      
    .logo p {
        font-size: 0.75rem;
        margin-top: 0.2rem;
        color: #ccc;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: space-between;
      width: 100%;
    }

    .nav-menu a {
      font-size: 2rem;
      margin: 0 0.7rem;
    }
  
    .main-content {
      flex-direction: column;
    }
  
    .overlay {
      position: relative;
      width: 100%;
      height: 50%;
      box-shadow: none;
      padding: 1.5rem;
    }

    .overlay h1 span {
        width: 100%;
        font-size: 3rem;
    }

    .overlay .about {
        width: 80%;
    }

    .overlay .testimonial {
        width: 80%;
    }
  
    .overlay h1 {
      font-size: 2rem;
    }
  
    .nav-menu li {
      font-size: 1.4rem;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }

    .contact-info section {
        width: 30%;
    }
}
  
  