* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}