* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
  background-color: white;
}

.mainbox {
  width: 1010px;
  /* height: 600px; will be removed later */
  background-color: white;
  border: 5px solid lightgray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

main {
  width: 1000px;
  background-color: white;
  padding: 50px;
}

/* Thanks section with all element styles */

.thankssection {
  width: 900px;
  height: 350px;
  background-color: white;
  margin-bottom: 40px;
}

.thankssection h1,
h2 {
  color: purple;
}

.thankssection p {
  font-size: 1.2em;
}

.thankssection li {
  font-size: 1.2em;
  margin-left: 15px;
  list-style-type: "- ";
}

/* Set up the boxes with links as the nav section. */
nav {
  width: 900px;
  height: 350px;
  background-color: white;
  margin-bottom: 10px;
}

.servicebox {
  width: 205px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid lightgray;
  box-shadow: 5px 5px lightgray;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

nav img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav .padbox {
  margin-left: 10px;
  margin-right: 10px;
}
nav h2 {
  color: black;
  font-size: 15pt;
}

nav p {
  font-size: 1.2em;
}

nav a:link {
  color: purple;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  float: right;
}

/* Troubleshooting section and element styles. */
.troublesection {
  width: 900px;
  height: 300px;
  background-color: white;
}

.troublesection h1 {
  color: purple;
  font-size: 20pt;
}

.troublesection p {
  font-size: 1.2em;
}
.troublesection .purpletext {
  color: purple;
}

.troublesection a:link {
  color: purple;
  text-decoration: none;
  font-size: 1.2em;
}

/* General styles for the entire page */
.btext {
  font-weight: 700;
}

.ralign {
  text-align: right;
}

h1 {
  font-size: 26pt;
}

/* Footer section and element styles */
footer {
  width: 1000px;
  height: 200px;
  background-color: black;
}
