* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  background-color: aquamarine;
}

.mainbox {
  width: 1000px;
  height: 1000px; /*will be removed later */
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
